<!-- Modal -->
<div class="modal fade custom-popup edit-invoice" id="newInvoice" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal" />
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ 'Add Invoice' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': false }">
                  <label>Bill N.O.</label>
                  <input class="form-control" required type="text"
                         name="bill_num" [(ngModel)]="invoiceCopy.bill_num"/>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerStartDate" type="text" name="startDate"
                           (focus)="pickerStartDate.open()" required [(ngModel)]="invoiceCopy.date"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group currency-form" [ngClass]="{'to-verify': false }">
                  <label>Value</label>
                  <input class="form-control" type="number" step="0.01" required maxlength="20" name="Value" [(ngModel)]="invoiceCopy.amount" />
                  <div class="message">
                    <span>field required & must be a valid number</span>
                  </div>
                </div>
                <div class="submit-center">
                  <input class="btn btn-success" type="submit" value="Save" (click)="projectAction()"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
