<!-- Modal -->
<div class="modal fade custom-popup edit-project" id="newBoq" tabindex="-1" role="dialog"
     aria-labelledby="newBoq"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add BOQ' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Group<span class="required" >*</span></label>
                  <select class="form-control" name="group" #groupRef="ngModel" (change)="emptyGroupName()" [(ngModel)]="currentGroupID">
                    <option value="0">New Group</option>
                    <option value="{{group.id}}" *ngFor="let group of groups">{{ group.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group" [ngClass]="{'to-verify': groupRef.value == 0 && isNotValid(newGroup)}">
                  <label>New Group<span *ngIf="groupRef.value == 0" class="required" >*</span></label>
                  <input class="form-control" type="text" #newGroup="ngModel" name="newGroup" id="newGroupText" [(ngModel)]="newItemsGroup" [disabled]="groupRef.value != 0" [required]="groupRef.value == 0" />
                  <div class="message"  *ngIf="groupRef.value == 0 && isEmpty(newGroup)">
                    <span>field required</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(boqName) }">
                  <label>BOQ Name<span class="required" >*</span></label>
                  <input class="form-control" required type="text" #boqName="ngModel" [(ngModel)]="boqCopy.Item" name="boqName" />
                  <div class="message"  *ngIf="isEmpty(boqName)">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(DeliveryDate) }">
                  <label>Delivery Date<span class="required" >*</span></label>
                  <mat-form-field>
                    <input matInput [(ngModel)]="boqCopy.delivery_date"  [matDatepicker]="pickerDeliveryDate" name="deliveryDate"
                           (focus)="pickerDeliveryDate.open()" required #DeliveryDate="ngModel"  />
                    <mat-datepicker-toggle matSuffix [for]="pickerDeliveryDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDeliveryDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message"  *ngIf="isEmpty(DeliveryDate)">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>PO Num</label>
                  <input class="form-control" type="text" [(ngModel)]="boqCopy.po_no" name="po_num" />
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(progress) }">
                  <label>Progress<span class="required" >*</span></label>
                  <input class="form-control" type="text" name="progress" #progress="ngModel" [(ngModel)]="boqCopy.progress" required  />
                  <div class="message"  *ngIf="isEmpty(progress)">
                    <span>field required</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(quantity) }">
                  <label>Quantity<span class="required" >*</span></label>
                  <input class="form-control" type="text" type="number" step="0.01" #quantity="ngModel" required name="quantity" [(ngModel)]="boqCopy.quantity"/>
                  <div class="message"  *ngIf="isEmpty(quantity)">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group currency-form" [ngClass]="{'to-verify': isNotValid(price) }">
                  <label>Unit Price<span class="required" >*</span></label>
                  <input class="form-control" type="number" #price="ngModel" step="0.01" required maxlength="20" name="price" [(ngModel)]="boqCopy.price"/>
                  <div class="message"  *ngIf="isEmpty(price)">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group currency-form">
                  <label>Unit cost</label>
                  <input class="form-control" type="number" step="0.01" maxlength="20" name="cost"  [(ngModel)]="boqCopy.cost"/>
                  <div class="message">
                    <span>field required & must be a valid number</span>
                  </div>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" (click)="actionProject()" value="{{title ? title : 'Add BOQ'}}" [disabled]="loginForm.form.invalid"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
