<div class="side-bar">
  <div class="elements-header">
  </div>
  <div class="side-bar__elements">
    <ul class="elements">
      <ng-container *ngFor="let item of menuElements">
        <li (click)="navigateToRoute(item.route)" *ngIf="isPermitted(item.permission)" [ngClass]="{'parent collapsed': item.parent, 'active': item.route === location.path()}">
          <img class="icon" src="/assets/images/side-bar/{{ item.icon }}.svg" />
          <span class="name bold">{{ item.text }}</span>
          <img *ngIf="item.parent" src="/assets/images/side-bar/arrow-icon.svg" class="arrow" />
        </li>
        <div class="sub-elements" *ngIf="item.parent && isPermitted(item.permission)">
          <li *ngFor="let subItem of item.subelements" [routerLink]="[subItem.route]" [ngClass]="{'active': subItem.route === location.path()}">
            <img class="icon" alt="" src="assets/images/side-bar/{{ subItem.icon }}.svg" />
            <span class="name light">{{ subItem.text }}</span>
          </li>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
