.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 280px;
  color: white;
  background: #1B2133;
  box-shadow: 0 0 4px 4px #423a3a;
}
.side-bar__elements {
  position: relative;
  height: calc(100vh - 150px);
  overflow: auto;
  padding-bottom: 30px;
}
.elements-header {
  height: 150px; /* todo review */
}

.elements li {
  font-size: 20px;
  line-height: 20px;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  outline: none;
}

.elements li.parent {
  position: relative;
}

li.active, .elements  li:not(.collapse):hover {
  background: #202f4f;
  border-left: 2px solid red;
}

li.parent:after {
  /*
  content: '';
  */
  position: absolute;
  display: block;
  background: #202f4f;
  width: 100%;
  left: 0;
  z-index: -9999;
  top: 80px; /* 40px or 80px */
  height: 40px;
}

.elements .name {
  margin-left: 10px;
}

.elements .name + .arrow {
  float: right;
  width: 12px;
}

.sub-elements {
  /*
  display: none;
  */
  margin-top: 20px;
}

.sub-elements li:last-child {
  padding-bottom: 0;
}

.sub-elements li {
  padding-right: 0;
  padding-left: 0;
}

img.icon {
  width: 22px;
  float: left;
}

.collapsed .sub-elements {
  display: none;
}
