<app-details-title [canAdd]="false" [title]="'Order details'"></app-details-title>
<div class="aw-container details">
  <div class="header">
    <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete-icon"/>
    <img src="/assets/images/general/back-icon.svg" alt="" class="return-icon" [routerLink]="'/orders/all'"/>
  </div>
  <div class="edit-project container">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Vendor</label>
          <input class="form-control" disabled type="text" name="vendor" value="{{order.vendor}} "/>
        </div>
        <div class="form-group">
          <label>Ship To</label>
          <input class="form-control" disabled type="text" name="shipTo" value="{{order.shipTo}}"/>
        </div>
        <div class="form-group">
          <label>Approved By</label>
          <input class="form-control" disabled type="text" name="approvedBy" value="{{order.approvedBy}}"/>
        </div>
        <div class="form-group" >
          <label>Status</label>
          <input class="form-control" disabled type="text" name="Status" value="{{order.status}}"/>
        </div>
        <div class="form-group">
          <label>Terms & Conditions</label>
          <textarea disabled class="form-control" type="text" name="terms">{{order.terms}}</textarea>
        </div>
        <div class="form-group">
          <label>Discount</label>
          <input class="form-control" disabled type="text" name="discount" value="{{order.discount}}"/>
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Date</label>
          <input class="form-control" disabled type="text" name="date" value="{{order.date}}"/>
        </div>
        <div class="form-group">
          <label>Project</label>
          <input class="form-control" disabled type="text" name="project" value="{{order.project}}" />
        </div>
        <div class="form-group">
          <label>Currency</label>
          <input class="form-control" disabled type="text" name="currency" value="{{order.currency}}"/>
        </div>
        <div class="form-group">
          <label>Prepared  By</label>
          <input class="form-control" disabled type="text" name="preparedBy" value="{{order.preparedBy}}"/>
        </div>
        <div class="form-group">
          <label>E-Link</label>
          <input class="form-control" disabled type="text" name="link" value="{{order.link}}"/>
        </div>
        <div class="select-item">
          <span class="vat-val" style="float: left;line-height: 32px;">VAT 5%</span>
          <label class="__styled-checkbox" style="margin-left: 10px;">
            <input type="checkbox" disabled name="vat" [checked]="order.vat">
            <span class="check-mark"></span>
          </label>
        </div>
        <div class="submit">
          <input class="btn btn-success" type="submit" value="{{'Edit Order' }}"/>
        </div>
      </div>
    </div>
  </div>
</div>
