header {
  height: 150px;
  background: white;
}

.config {
  padding: 5px 60px 40px 60px;
}
.config .items {
  float: right;
}

.items img {
  width: 25px;
  margin-left: 5px;
}


@media screen and (max-width: 768px){
  .config {
    padding: 5px 10px 20px 10px;
  }
  .listing-title {
    padding-right: 10px;
    padding-left: 10px;
  }
}
