header {
  height: 150px;
  background: white;
  overflow-x: hidden;
}
/* todo remove */
.config .user-profile {
  cursor: pointer;
}
.config {
  padding: 5px 60px 40px 60px;
}
.config .items {
  float: right;
}

.items img {
  width: 25px;
  margin-left: 5px;
}

.side-bar-toggle {
  float: left;
}
.side-bar-toggle img {
  visibility: hidden;
  width: 45px;
  cursor: pointer;
  margin-left: 1px;
}

@media screen and (max-width: 991px) {
  .side-bar-toggle img {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .config {
    padding: 5px 10px 20px 10px;
  }
  .listing-title {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 570px) {
  header {
    height: auto;
    padding-bottom: 25px;
  }

  .side-bar-toggle {
    position: absolute;
    top: -2px;
    left: 3px;
  }
}
