<div class="modal fade custom-popup edit-project" id="newBid" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"
                 (click)="restoreModal()"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add Bid' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(name) }">
                  <label>Bid Name</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="bidCopy.name" #name="ngModel" name="bidName"/>
                  <div class="message">
                    <span *ngIf="isEmpty(name)">field required</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(openingDate) }">
                  <label>Opening Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickeropeningDate" type="text" name="openingDate"
                           [(ngModel)]="bidCopy.openingDate" #openingDate="ngModel"
                           (focus)="pickeropeningDate.open()" required/>
                    <mat-datepicker-toggle matSuffix [for]="pickeropeningDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickeropeningDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(openingDate)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" [(ngModel)]="bidCopy.status" name="status">
                    <option value="In Progress">In Progress</option>
                    <option value="Submitted">Submitted</option>
                    <option value="Archived">Archived</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Bid Manager</label>
                  <select class="form-control" [(ngModel)]="bidCopy.manager" name="manager">
                    <option *ngFor="let manager of managers" value="{{manager.id}}">{{ manager.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Letter of guarantee</label>
                  <select class="form-control" [(ngModel)]="bidCopy.letterOfGuarantee" name="letterOfGuarantee">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Client Name</label>
                  <input class="form-control" type="text" [(ngModel)]="bidCopy.clientName"
                         name="clientName"/>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(submissionDate) }">
                  <label>Submission Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickersubmissionDate" required type="text" name="endDate"
                           [(ngModel)]="bidCopy.submissionDate" (focus)="pickersubmissionDate.open()" #submissionDate="ngModel"/>
                    <mat-datepicker-toggle matSuffix [for]="pickersubmissionDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickersubmissionDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(submissionDate)">field required</span>
                  </div>
                </div>

                <div class="form-group currency-form" [ngClass]="{'to-verify': isNotValid(cost) }">
                  <label>Cost</label>
                  <input class="form-control" type="number" step="0.01" required [(ngModel)]="bidCopy.cost"
                         maxlength="20" name="cost" #cost="ngModel"/>
                  <div class="message">
                    <span *ngIf="isEmpty(cost)">field required & must be a valid number</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>E-Link</label>
                  <input class="form-control" type="text" [(ngModel)]="bidCopy.link" name="link"/>
                  <div class="message">field required</div>

                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" value="{{ title ? title : 'Add Bid' }}"
                         (click)="saveBid()" [disabled]="loginForm.form.invalid"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
