<div class="flex filters hidden">
  <div class="filters-item">
    <label>Status</label>
    <select name="status" [(ngModel)]="status" (ngModelChange)="changFilter()">
      <option value="*">All</option>
      <option *ngFor="let item of knownItems" value="{{item}}">{{item}}</option>
    </select>
  </div>
  <div class="filters-item">
    <label>Since</label>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerSinceDate" type="text" name="sinceDate"
             (focus)="pickerSinceDate.open()" required/>
      <mat-datepicker-toggle matSuffix [for]="pickerSinceDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerSinceDate></mat-datepicker>
    </mat-form-field>
  </div>
  <!--
    <img src="/assets/images/general/filter.svg" alt="" />
  -->
</div>
