.filters {
  position: relative;
  padding: 30px 60px 30px 60px;
  font-size: 20px;
  font-weight: 700;
}

.filters .mat-form-field {
  display: inline-block !important;
}

.filters-item {
  margin-right: 10px;
}

.filters select {
  background: white;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  padding: .375rem .75rem;
}

.filters label {
  margin-right: 10px;
}


@media screen and (max-width: 991px) {
  .filters.flex {
    padding: 5px;
    display: block;
    margin-top: 10px;
  }
  .filters-item {
    text-align: center;
  }
}
