<div class="modal fade custom-popup edit-project" id="newDeal" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"
                 (click)="restoreModal()"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add Deal' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(name) }">
                  <label>Deal Name</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="dealCopy.name" #name="ngModel" name="dealName"/>
                  <div class="message">
                    <span *ngIf="isEmpty(name)">field required</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(expectedClose) }">
                  <label>Expected close</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerexpectedClose" type="text" name="expectedClose"
                           [(ngModel)]="dealCopy.expectedClose" #expectedClose="ngModel"
                           (focus)="pickerexpectedClose.open()" required/>
                    <mat-datepicker-toggle matSuffix [for]="pickerexpectedClose"></mat-datepicker-toggle>
                    <mat-datepicker #pickerexpectedClose></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(expectedClose)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" [(ngModel)]="dealCopy.status" name="status">
                    <option value="Analysis">Analysis</option>
                    <option value="Proposal Submitted">Proposal Submitted</option>
                    <option value="Negotiation">Negotiation</option>
                    <option value="Archived">Archived</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Contact</label>
                  <input class="form-control" type="text" [(ngModel)]="dealCopy.contact"
                         name="contact"/>
                </div>

              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Client Name</label>
                  <input class="form-control" type="text" [(ngModel)]="dealCopy.clientName"
                         name="clientName"/>
                </div>

                <div class="form-group currency-form" [ngClass]="{'to-verify': isNotValid(value) }">
                  <label>Value</label>
                  <input class="form-control" type="number" step="0.01" required [(ngModel)]="dealCopy.value"
                         maxlength="20" name="value" #value="ngModel"/>
                  <div class="message">
                    <span *ngIf="isEmpty(value)">field required & must be a valid number</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Bid Manager</label>
                  <select class="form-control" [(ngModel)]="dealCopy.manager" name="manager">
                    <option *ngFor="let manager of managers" value="{{manager.id}}">{{ manager.fullName }}</option>
                  </select>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" value="{{ title ? title : 'Add Deal' }}"
                         (click)="saveDeal()" [disabled]="loginForm.form.invalid"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
