<div class="aw-container details">
  <div class="header">
    <img (click)="deleteElement(project.id)" src="/assets/images/listing/delete-icon.svg" alt="" class="delete-icon" />
    <img (click)="deleteElement(project.id)" src="/assets/images/general/back-icon.svg" alt="" class="return-icon" [routerLink]="'/projects/all'" />

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Project Name</label>
          <input class="form-control" type="text" value="{{ project?.name }}" disabled />
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input class="form-control" type="text" value="{{ project?.startDate }}" disabled />
        </div>
        <div class="form-group">
          <label>Status</label>
          <input class="form-control" type="text" value="{{ project?.status }}" disabled />
        </div>
        <div class="form-group">
          <label>Project Manager</label>
          <input class="form-control" type="text" value="{{ project?.manager }}" disabled />
        </div>
        <div class="form-group">
          <label>Project Code</label>
          <input class="form-control" type="text" value="{{ project?.code }}" disabled />
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group currency-form">
          <label>PO Value</label>
          <input class="form-control" type="text" value="{{ project?.poValue }}" disabled />
        </div>
        <div class="form-group">
          <label>End Date</label>
          <input class="form-control" type="text" value="{{ project?.endDate }}" disabled />
        </div>
        <div class="form-group currency-form">
          <label>Expenses</label>
          <input class="form-control" type="text" value="{{ project?.expenses }}" disabled />
        </div>
        <div class="form-group">
          <label>E-Link</label>
          <input class="form-control" type="text" value="{{ project?.link }}" disabled />
        </div>
        <div class="submit">
          <input class="btn btn-success" type="submit" value="Edit project" />
        </div>
      </div>
    </div>
  </div>
</div>
