.header-workflow {
  clear: both;
}

._active span {
  opacity: 0.7;
  color: #57C059;
}
.collapse-icon {
  display: none;
}

@media screen and (max-width: 768px){
  .header-workflow {
    padding: 0 5px 15px 5px;
    margin-top: 25px;
  }
  .header-workflow .title {
    margin-left: 1px;
    width: calc(20% - 1px);
  }
}

@media screen and (max-width: 570px) {
  .header-workflow .title {
    width: 100%;
  }
  .wf-elements {
   display: none;
  }
  .collapse-icon {
    display: initial;
  }
  .collapse-icon .title {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    padding-right: 5px;
  }
  .collapse-icon img {
    width: 38px;
  }
}
