<!-- project details workflow -->
<div class="header-workflow">
  <a class="collapse-icon">
    <span class="title">
        <img src="/assets/images/general/menu.png" alt="" class=""/>  MENU
    </span>
  </a>
  <div class="wf-elements" [ngClass]="{'public-workflow': itemsPath !== '/projects/project/', 'order-workflow': itemsPath === '/orders/order/'}">
    <a [routerLink]="[itemsPath + objectID]" [ngClass]="{'_active': location.path() === itemsPath + objectID}">
      <span class="title">Details</span>
    </a>
    <a [routerLink]="[itemsPath + objectID + '/notes']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/notes'}" *ngIf="itemsPath !== '/orders/order/'">
      <span class="title">Notes</span>
    </a>
    <a [routerLink]="[itemsPath + objectID + '/items']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/items'}" *ngIf="itemsPath === '/orders/order/'">
      <span class="title">Purchase Items</span>
    </a>
    <a [routerLink]="[itemsPath + objectID + '/tracks']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/tracks'}" *ngIf="itemsPath === '/orders/order/'">
      <span class="title">Payment Tracking</span>
    </a>
    <a *ngIf="itemsPath == '/projects/project/'" [routerLink]="[itemsPath + objectID + '/bill-of-quantities']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/bill-of-quantities'}">
      <span class="title">BoQs</span>
    </a>
    <a *ngIf="itemsPath == '/projects/project/'" [routerLink]="[itemsPath + objectID + '/deliverables']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/deliverables'}" >
      <span class="title">Deliverables</span>
    </a>
    <a *ngIf="itemsPath == '/projects/project/'" [routerLink]="[itemsPath + objectID + '/invoices']" [ngClass]="{'_active': location.path() === itemsPath + objectID + '/invoices'}">
      <span class="title">Invoices</span>
    </a>
  </div>
</div>

<!-- end project workflow -->
