<app-details-title [canAdd]="false" [title]="'User details'"></app-details-title>
<div class="aw-container details">
  <div class="header">
    <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete-icon"/>
    <img src="/assets/images/general/back-icon.svg" alt="" class="return-icon" [routerLink]="'/users/all'"/>
  </div>
  <div class="edit-project container">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Full Name</label>
          <input class="form-control" required type="text" name="username" disabled value="{{user.name}}"/>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" required type="text" name="username" disabled value="{{user.username}}" />
        </div>
        <div class="form-group">
          <label>Roles</label>
          <table style="width: 100%;text-align: center;">
            <tr>
              <th>SA</th>
              <th>CEO</th>
              <th>SM</th>
              <th>AM</th>
              <th>PM</th>
            </tr>
            <tr>
              <td>
                <label class="__styled-checkbox">
                  <input type="checkbox" [checked]="roles.SA" name="sa">
                  <span class="check-mark"></span>
                </label>
              </td>
              <td>
                <label class="__styled-checkbox">
                  <input type="checkbox" [checked]="roles.CEO" name="ceo">
                  <span class="check-mark"></span>
                </label>
              </td>
              <td>
                <label class="__styled-checkbox">
                  <input type="checkbox" [checked]="roles.SM" name="sm">
                  <span class="check-mark"></span>
                </label>
              </td>
              <td>
                <label class="__styled-checkbox">
                  <input type="checkbox" [checked]="roles.AC" name="ac">
                  <span class="check-mark"></span>
                </label>
              </td>
              <td>
                <label class="__styled-checkbox">
                  <input type="checkbox" [checked]="roles.PM" name="pm">
                  <span class="check-mark"></span>
                </label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" required type="text" name="email" disabled value="{{user.email}}"/>
        </div>
        <div class="form-group">
          <label>Created at</label>
          <input class="form-control" required type="text" name="created" disabled value="{{user.createdAt}}"/>
        </div>
        <div class="submit">
          <input class="btn btn-success" type="submit" style="margin-top: 15px;" value="Edit User" (click)="triggerUserEdit()" />
        </div>
      </div>
    </div>

  </div>
</div>

<!-- confirm visit delete -->
<app-confirm-box [popupID]="'deleteUserModal'" [deleteTitle]="'Delete user'" (confirmAction)="confirmUserDelete($event)"></app-confirm-box>
<!-- end of confim box -->

<!-- new, edit visit -->
<app-edit-user-popup [title]="'Edit User'" [user]="user" ></app-edit-user-popup>
<!-- end popup -->


