.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 280px;
  color: white;
  background: #1B2133;
  box-shadow: 0 0 4px 4px #423a3a;
  z-index: 999;
}

.sys-slug {
  cursor: pointer;
}
.side-bar__elements {
  position: relative;
  height: calc(100vh - 150px);
  overflow: auto;
  padding-bottom: 5px;
}

.elements-header {
  height: 150px; /* todo review */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff8f8;
  overflow: auto;
}

.elements li {
  font-size: 16px;
  line-height: 16px;
  padding: 16px 10px 16px 10px;
  cursor: pointer;
  outline: none;
}

.elements li:not(.collapse):hover {
  background: #202f4f !important;
  border-left: 2px solid red !important;
}

.elements li.active {
  background: #202f4f;
  border-left: 2px solid red;
}

.elements:hover li.active:not(this) {
  background: none;
  border: none;
}


.elements .name {
  margin-left: 10px;
}

.elements .name + .arrow {
  float: right;
  width: 12px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

img.icon {
  width: 20px;
  height: 20px;
  float: left;
}

.collapsed + .sub-elements {
  display: none;
}

.collapse .arrow {
  transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
}

@media screen and (max-width: 991px) {
  .side-bar {
    width: 0;
    box-shadow: none;
  }
}
