<!-- Modal -->
<div class="modal fade custom-popup edit-project" id="newPurchase" tabindex="-1" role="dialog"
     aria-labelledby="newPurchase"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add Item' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(partcode) }">
                  <label>Part Code</label>
                  <input class="form-control" required type="text" [(ngModel)]="purchaseCopy.partCode" #partcode="ngModel" name="partcode"/>
                  <div class="message">
                    <span *ngIf="isEmpty(partcode)">field required</span>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(_project) }">
                  <label>Project</label>
                  <select class="form-control" [(ngModel)]="purchaseCopy.projectID" name="_project" #_project="ngModel">
                    <option *ngFor="let project of projects" value="{{project.id}}">{{ project.code }}</option>
                  </select>
                  <div class="message">
                    <span *ngIf="isEmpty(_project)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" placeholder="write the description here..." type="text" [(ngModel)]="purchaseCopy.description"
                            name="description">
                  </textarea>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(quantity) }">
                  <label>Quantity</label>
                  <input class="form-control" type="number" required name="quantity" #quantity="ngModel"
                         [(ngModel)]="purchaseCopy.quantity"/>
                  <div class="message">
                    <span *ngIf="isEmpty(quantity)">field required</span>
                  </div>
                </div>
                <div class="form-group currency-form" [ngClass]="{'to-verify': isNotValid(rate) }">
                  <label>Unit Price</label>
                  <input class="form-control" type="number" step="0.01" required maxlength="20" name="price"
                         [(ngModel)]="purchaseCopy.rate" #rate="ngModel"/>
                  <div class="message">
                    <span *ngIf="isEmpty(rate)">field required</span>
                  </div>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" (click)="actionProject()" value="{{ title ? title : 'Add Item' }}"
                         [disabled]="loginForm.form.invalid" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
