<app-details-title [canAdd]="true" [title]="'Bill of Quantities'"></app-details-title>

<div class="listing listing-details">
  <select class="custom-select">
    <option>TEST</option>
    <option>CISCO</option>
    <option>TEST2</option>
  </select>

  <div class="aw-pagination">
    <span>
      1-5 of 5
      <span class="circle-sign"><</span>
      <span class="circle-sign">></span>
    </span>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Qty</th>
      <th>U Cost</th>
      <th>T Cost</th>
      <th>U Price</th>
      <th>T Price</th>
      <th>Delivry Date</th>
      <th>Po_num</th>
      <th>Percentage</th>
      <th>Control</th>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    <tr class="white-bg">
      <td>01</td>
      <td>test item</td>
      <td>3</td>
      <td>1000</td>
      <td>3000</td>
      <td>1200</td>
      <td>1200</td>
      <td>12-05-2019</td>
      <td>777</td>
      <td>40%</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
  </table>
</div>
