<app-details-title [canAdd]="true"
                   [title]="'Bill of Quantities'"
                   (onClickAdd)="triggerBoqAction()">

</app-details-title>

<div class="listing listing-details">

  <select class="custom-select" (change)="changeCurrentGroup($event.target.value)">
    <option *ngFor="let group of groups" value="{{group.id}}">{{ group.name }}</option>
  </select>

  <div class="aw-pagination" *ngIf="false">
  </div>

  <table class="table-striped">
    <tr>
      <th>Name</th>
      <th>Qty</th>
      <th>U Cost</th>
      <th>T Cost</th>
      <th>U Price</th>
      <th>T Price</th>
      <th>Delivry Date</th>
      <th>PO Num</th>
      <th>Progress</th>
      <th>Control</th>
    </tr>
    <tbody>
    <tr class="white-bg" *ngFor="let boq of currentGroupItems">
      <td>{{ boq.Item }}</td>
      <td>{{ boq.quantity }}</td>
      <td>{{ boq.cost | number}}</td>
      <td>{{ boq.cost * boq.quantity }}</td>
      <td>{{ boq.price | number }}</td>
      <td>{{ (boq.price * boq.quantity) | number}}</td>
      <td>{{ boq.delivery_date }}</td>
      <td>{{ boq.po_no }}</td>
      <td>{{ boq.progress }}</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit" (click)="triggerBoqAction(boq)"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<table class="boq-summer table-striped">
  <tr>
    <th>Vendor</th>
    <th>Expected Cost</th>
    <th>Actually Cost</th>
    <th>Selling</th>
  </tr>
  <tbody>
  <tr class="white-bg" *ngFor="let group of groups">
    <td>{{ group.name }}</td>
    <td>{{ getTotalCostForGroup(group.id) | number }}</td>
    <td>0</td>
    <td>{{ getTotalPriceForGroup(group.id) | number }}</td>
  </tr>
  <tr class="white-bg">
    <th>Total</th>
    <td>{{totalExCost | number }}</td>
    <td>0</td>
    <td>{{totalSell | number }}</td>
  </tr>
  </tbody>
</table>


<app-edit-boq [groups]="this.groups" [currentGroupID]="groupID" [title]="actionTitle" [boq]="boqToBeEdited"
              (emitActionAdd)="addNewBoq($event)"></app-edit-boq>
