html {
  direction: rtl;
}
.main-content {
  margin-left: 0  !important;
  margin-right: 280px;
  text-align: right;
}
.listing-icon {
  right: 15px;
  left: initial;
}

/* side bar rtl style */
.side-bar {
  right: 0;
  left: initial;
}

img.icon {
  float: right!important;
}

.elements .name {
  margin-left: 0;
  margin-right: 10px;
}
.elements li.active {
  border-left: none!important;
  border-right: 2px solid red;
}
/* end of side bar style */
