.add-icon {
  width: 40px;
  position: absolute;
  top: -20px;
  right: 25%;
  cursor: pointer;
}
.print-icon {
  width: 40px;
  cursor: pointer;
  position: absolute;
  right: 7%;
  top: -15px;
}

.title {
  position: absolute;
  top: -30px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
}
