<!-- Modal
<div class="modal fade delete-box" [id]="popupID" tabindex="-1" role="dialog" aria-labelledby="confirmBox" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="danger-icon">
          <img src="/assets/images/general/danger-icon.svg" alt="" class="danger-icon" />
        </div>
        <div class="content">
          <h3>{{ deleteTitle }}</h3>
          <span>You can undone the operation within 1 month</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelDelete()" >CANCEL</button>
        <button type="button" class="btn btn-primary cancel" (click)="confirmDelete()">DELETE</button>
      </div>
    </div>
  </div>
</div>
End modal -->

