<app-details-title [canAdd]="true" [title]="'Invoices'" (onClickAdd)="triggerProjectAction()"></app-details-title>
<div class="listing listing-details">
  <div class="aw-pagination">
    <!--<span>
      1-5 of {{ this.invoicesCopy.length }}
      <span class="circle-sign"><</span>
      <span class="circle-sign">></span>
    </span>-->
  </div>
  <table class="text-center">
    <tr>
      <th>ID</th>
      <th>Bill No</th>
      <th>Date</th>
      <th>Value</th>
      <th>Control</th>
    </tr>
    <tr class="white-bg" *ngFor="let invoice of invoicesCopy | paginate: {itemsPerPage: 7, currentPage: p}">
      <td>{{ invoice.id }}</td>
      <td>{{ invoice.billNum }}</td>
      <td>{{ invoice.date | date:'MMM d, y h:m a' }}</td>
      <td>{{ invoice.amount }}</td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit" (click)="triggerProjectAction()"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete" (click)="deleteInvoice(invoice.id)"/>
      </td>
    </tr>
  </table>
</div>

<!-- to add and edit an invoice -->
<app-edit-invoice [projectID]="currentProjectID" (newInvoiceAdded)="addNewInvoice($event)"></app-edit-invoice>
<!-- end -->

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!-- confirm project delete -->
<app-confirm-box [popupID]="'deleteInvoiceModal'" [deleteTitle]="'Delete invoice'" (confirmAction)="confirmInvoiceDelete($event)"></app-confirm-box>
<!-- end of confim box -->
