<div class="row">
    <div class="col-lg-6 col-md-12">
      <h3 align='center' class="testing-class">Projects</h3>
      <div style="display: block;">
        <canvas baseChart
          [data]="projetctDataset"
          [labels]="projectLabels"
          [chartType]="shartType"
          [colors]="colors1">
        </canvas>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <h3 align='center'>Tasks</h3>
      <div style="display: block;">
        <canvas baseChart
          [data]="taskDataset"
          [labels]="taskLabels"
          [chartType]="shartType"
          [colors]="colors2">
        </canvas>
      </div>
    </div>
</div>
<div class="row mt-5">
  <div class="col-lg-6 col-md-12">
    <h3 align='center'>Bids</h3>
    <div style="display: block;">
      <canvas baseChart
        [data]="bidDataset"
        [labels]="bidLabels"
        [chartType]="shartType"
        [colors]="colors3">
      </canvas>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <h3 align='center'>Deals</h3>
    <div style="display: block;">
      <canvas baseChart
        [data]="dealDataset"
        [labels]="dealLabels"
        [chartType]="shartType"
        [colors]="colors4">
      </canvas>
    </div>
  </div>

</div>

