<!-- Modal -->
<div class="modal fade custom-popup edit-project" id="newBoq" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ 'New Boq' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Group</label>
                  <select class="form-control" name="manager">
                    <option value="">{{ 'l' }}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <label>New Group</label>
                <div class="form-group">
                  <input class="form-control" type="text" required name="code" disabled/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>BOQ Name</label>
                  <input class="form-control" required type="text" name="projectName"/>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Delivery Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerStartDate" type="text" name="startDate"
                           (focus)="pickerStartDate.open()" required/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>PO Num</label>
                  <input class="form-control" type="number" step="0.01" name="link"/>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Progress</label>
                  <input class="form-control" type="text" name="link"/>
                  <div class="message">field required</div>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Quantity</label>
                  <input class="form-control" type="text" required name="code"/>
                  <div class="message">
                    <span>field required</span>
                  </div>
                </div>
                <div class="form-group currency-form">
                  <label>Unit Price</label>
                  <input class="form-control" type="number" step="0.01" required maxlength="20" name="poValue"/>
                </div>
                <div class="form-group currency-form">
                  <label>Unit cost</label>
                  <input class="form-control" type="number" step="0.01" required maxlength="20" name="poValue"/>
                  <div class="message">
                    <span>field required & must be a valid number</span>
                  </div>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
