<app-details-title [canAdd]="true" [title]="'Invoices'" (onClickAdd)="triggerProjectAction()"></app-details-title>

<div class="listing listing-details">
  <ng-template #noResults>
    <div class="white-bg no-attached" >
      There is no invoice attached
    </div>
  </ng-template>
  <ng-container *ngIf="invoicesCopy && invoicesCopy.length >0; else noResults">
    <div class="aw-pagination" *ngIf="invoicesCopy.length > 7">
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
    </div>
    <table class="text-center table-striped">
      <tr>
        <th>ID</th>
        <th>Bill No</th>
        <th>Date</th>
        <th>Value</th>
        <th>Control</th>
      </tr>
      <tbody>
      <tr class="white-bg" *ngFor="let invoice of invoicesCopy | paginate: {itemsPerPage: 7, currentPage: p}">
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.billNum }}</td>
        <td>{{ invoice.date | date:'MMM d, y' }}</td>
        <td>{{ invoice.amount | number }}</td>
        <td class="control">
          <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit" (click)="triggerProjectAction(invoice)"/>
          <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete" (click)="deleteInvoice(invoice.id)"/>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="remaining">
      <h3>Remaining From Total Value</h3>
      <div class="value" [ngClass]="{'text-red': remaining < 0 }">{{ (remaining ? remaining : '-')  | number }}</div>
    </div>
  </ng-container>
</div>

<!-- to add and edit an invoice -->
<app-edit-invoice [projectID]="currentProjectID" (newInvoiceAdded)="addNewInvoice($event)" [invoiceCopy]="invoiceTobeEdited"></app-edit-invoice>
<!-- end -->

<!-- confirm project delete -->
<app-confirm-box [popupID]="'deleteInvoiceModal'" [deleteTitle]="'Delete invoice'" (confirmAction)="confirmInvoiceDelete($event)"></app-confirm-box>
<!-- end of confim box -->
