.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

/* side bar hidden */
.sb-hidden .main-panel {
  width: calc(100% - 280px);
}


/*
-webkit-transform: translate3d(-260px,0,0);
transform: translate3d(-260px,0,0);
 */

.main-panel {
  height: 100%;
  max-height: 100%;
  float: right;
  width: calc(100% - 280px);
  position: relative;
}
.main-content {
  position: relative;
  height: 100%;
  padding: 18px 60px 18px 60px;
}

@media screen and (max-width: 768px){
  .main-content {
    padding: 5px;
  }
}

@media screen and (max-width: 991px){
  .main-panel {
    width: 100%;
    float: unset;
  }
}

