<div class="wrapper" *ngIf="isAuth">
  <!-- side bar -->
  <app-side-bar></app-side-bar>
  <!--end side bar -->

  <div class="main-panel">

    <!-- app header -->
    <app-header></app-header>
    <!-- end of app header -->

    <!-- the main content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <!-- end of the main content -->
  </div>
</div>

<ng-container *ngIf="!isAuth">
  <router-outlet></router-outlet>
</ng-container>

<div class="close-layer hidden" (click)="closeNavBar()">
  <img src="/assets/images/side-bar/close-icon.svg" />
</div>
