<app-details-title [canAdd]="true" [title]="'Payment Tracking'" (onClickAdd)="triggerTrackAction()"></app-details-title>

<div class="listing listing-details">
  <ng-template #noResults>
    <div class="white-bg no-attached" >
      There is no track attached
    </div>
  </ng-template>
  <ng-container *ngIf="tracksCopy && tracksCopy.length >0; else noResults">
    <div class="aw-pagination" *ngIf="tracksCopy.length > 7">
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
    </div>
    <table class="text-center">
      <tr>
        <th>ID</th>
        <th>Payment Amount</th>
        <th>Date</th>
        <th>Percentage</th>
        <th>Type</th>
        <th>Control</th>
      </tr>
      <tr class="white-bg" *ngFor="let track of tracksCopy | paginate: {itemsPerPage: 7, currentPage: p}">
        <td>{{ track.id }}</td>
        <td>{{ track.amount | number }}</td>
        <td>{{ track.date | date:'MMM d, y' }}</td>
        <td>-</td>
        <td>{{ track.type }}</td>
        <td class="control">
          <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit" (click)="triggerTrackAction(track)"/>
          <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete" (click)="deleteTrack(track.id)"/>
        </td>
      </tr>
    </table>
    <div class="remaining">
      <h3>Remaining From Total Value</h3>
      <div class="value" [ngClass]="{'text-red': remaining < 0 }">{{ ((total && sumRemaining)  ? (total - sumRemaining) : 0) | number }}</div>
    </div>
  </ng-container>

</div>


<!-- to add and edit an track -->
<app-edit-track [orderID]="currentOrderID" (newTrackAdded)="addNewTrack($event)" [trackCopy]="trackTobeEdited"></app-edit-track>
<!-- end -->

<!-- confirm track delete -->
<app-confirm-box [popupID]="'deleteTrackModal'" [deleteTitle]="'Delete track'" (confirmAction)="confirmTrackDelete($event)"></app-confirm-box>
<!-- end of confim box -->
