<div class="modal fade custom-popup edit-project" id="newVisit" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"
                 (click)="restoreModal()"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add Visit' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Client Name</label>
                  <input class="form-control autofocus" autofocus type="text" [(ngModel)]="visitCopy.clientName"
                         name="clientName"/>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(date) }">
                  <label>Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerDate" type="text" name="date"
                           [(ngModel)]="visitCopy.date" #date="ngModel"
                           (focus)="pickerDate.open()" required/>
                    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(date)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Contact</label>
                  <textarea class="form-control" type="text" [(ngModel)]="visitCopy.contact"
                         name="contact">
                  </textarea>
                </div>

              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(reason) }">
                  <label>Reason</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="visitCopy.reason" #reason="ngModel" name="reason"/>
                  <div class="message">
                    <span *ngIf="isEmpty(reason)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Manager</label>
                  <select class="form-control" [(ngModel)]="visitCopy.manager" name="manager">
                    <option *ngFor="let manager of managers" value="{{manager.id}}">{{ manager.name }}</option>
                  </select>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" value="{{ title ? title : 'Add Visit' }}"
                         (click)="saveVisit()" [disabled]="loginForm.form.invalid"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
