<app-details-title [canAdd]="false" [printable]="true" (onClickPrint)="printVoucher()" [title]="'Voucher details'"></app-details-title>
<div class="aw-container details">
  <div class="header">
    <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete-icon"/>
    <img src="/assets/images/general/back-icon.svg" alt="" class="return-icon" [routerLink]="'/vouchers/all'"/>
  </div>
  <div class="edit-project container">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Payment Method</label>
          <input class="form-control" type="text"  disabled value="{{voucher?.type}}" />
        </div>
        <div class="form-group currency-form" [ngClass]="{'to-verify': false }">
          <label>Amount</label>
          <input class="form-control" type="number" step="0.01" disabled name="amount" value="{{voucher?.amount}}"  />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" disabled placeholder="Write your description here..." name="desciption">{{voucher?.description}}</textarea>
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>Beneficiary Name</label>
          <input class="form-control" type="text"  disabled value="{{beneficiary}}" />
        </div>
        <div class="form-group">
          <label>Purchase Order</label>
          <input class="form-control" type="text"  disabled value="{{order}}" />
        </div>
        <div class="submit">
          <input class="btn btn-success" type="submit" value="{{ 'Edit Voucher' }}" (click)="triggerVoucherEdit()"/>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- confirm visit delete -->
<app-confirm-box [popupID]="'deleteVoucherModal'" [deleteTitle]="'Delete voucher'" (confirmAction)="confirmUserDelete($event)"></app-confirm-box>
<!-- end of confim box -->

<!-- new, edit visit -->
<app-edit-voucher-popup [title]="'Edit Voucher'" [voucher]="voucher" ></app-edit-voucher-popup>
<!-- end popup -->

<app-pdf-viewer [src]="voucherPath + currentVoucherId"></app-pdf-viewer>
