<app-listing [metaDefinition]="metaDefinition"
             [contents]="filteredBids"
             [model]="'Sales'"
             (onEditClick)="editBid($event)"
             (onDeleteClick)="deleteBid($event)"
             [icon]="'bids-icon'"
             [modulePath]="'/sales/bid/'"
></app-listing>


<!-- confirm project delete -->
<app-confirm-box [popupID]="'deleteBidModal'" [deleteTitle]="'Delete bid'" (confirmAction)="confirmBidDelete($event)"></app-confirm-box>
<!-- end of confim box -->

<!-- new, edit project -->
<app-edit-bid-popup [title]="manageAction" [bid]="bidTobeManaged" (onExitModal)="initManageData()"></app-edit-bid-popup>
<!-- end popup -->
