<app-listing [metaDefinition]="metaDefinition"
             [contents]="filteredProjects"
             [model]="'Project'"
             (onEditClick)="editProject($event)"
             (onDeleteClick)="deleteProject($event)"
></app-listing>


<!-- confirm project delete -->
<app-confirm-box [popupID]="'deleteProjectModal'" (confirmAction)="confirmProjectDelete($event)"></app-confirm-box>
<!-- end of confim box -->

<!-- new, edit project -->
<app-edit-project-popup></app-edit-project-popup>
<!-- end popup -->
