<app-details-title [canAdd]="true" [title]="'Purchase Items'" (onClickAdd)="addNewOrderItem()"></app-details-title>

<div class="listing listing-details">

  <img src="/assets/images/general/print.svg" alt="" class="print" (click)="printOrder()" />

  <div class="aw-pagination" *ngIf="items && items.length > 7">
    <pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
  <table class="p-items">
    <tr>
      <th>Part NO.</th>
      <th>Description</th>
      <th>Qty</th>
      <th>U Cost</th>
      <th>Amount</th>
      <th>Project Code</th>
      <th>Received</th>
      <th>Control</th>
    </tr>
    <tr class="white-bg" *ngFor="let item of items | paginate: {itemsPerPage: 7, currentPage: p}">
      <td>{{ item.partCode }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.rate | number }}</td>
      <td>{{ item.quantity * item.rate | number }}</td>
      <td>{{ '-' }}</td>
      <td>
        <label class="__styled-checkbox">
          <input type="checkbox" name="received" id="item_{{ item.id }}" [(ngModel)]="item.received" (ngModelChange)="changeStatus(item)">
          <span class="check-mark"></span>
        </label>
      </td>
      <td class="control">
        <img src="/assets/images/listing/edit-icon.svg" alt="" class="edit"
             (click)="triggerPurchaseItemAction(item.id)"/>
        <img src="/assets/images/listing/delete-icon.svg" alt="" class="delete"/>
      </td>
    </tr>
  </table>
</div>
<table class="item-summer">
  <tr>
    <th>Discount</th>
    <th>VAT 5%</th>
    <th>Total</th>
  </tr>
  <tr style="background: white;">
    <td>{{orderDiscount ? orderDiscount.toFixed(2) : 0}}</td>
    <td>{{orderVat ? orderVat.toFixed(2) : 0 }}</td>
    <td>{{total ? total.toFixed(2) : 0 }}</td>
  </tr>

</table>

<app-purchase-edit-popup [title]="manageAction" [purchase]="itemToBeManaged" [orderID]="currentOrderID"
                         (onExitModal)="clearPopup()"></app-purchase-edit-popup>

<app-pdf-viewer [src]="orderPath + currentOrderID"></app-pdf-viewer>
