.print {
  width: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.item-summer td, .item-summer th {
  padding: 10px 10px 10px 0;
}
.item-summer td{
  padding-left: 5px;
}

.p-items, .item-summer {
  text-align: center;
}

.aw-pagination {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .listing-details th:nth-child(2),
  .listing-details th:nth-child(3),
  .listing-details th:nth-child(4),
  .listing-details th:nth-child(6),
  .listing-details td:nth-child(2),
  .listing-details td:nth-child(3),
  .listing-details td:nth-child(4),
  .listing-details td:nth-child(6)
  {
    display: none;
  }
}


