<!-- Modal -->
<div class="modal fade custom-popup edit-project" id="newProject" tabindex="-1" role="dialog"
     aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"
                 (click)="restoreModal()"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add Project' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(name) }">
                  <label>Project Name</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="projectCopy.name" #name="ngModel" name="projectName"/>
                  <div class="message">
                    <span *ngIf="isEmpty(name)">field required</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(startDate) }">
                  <label>Start Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerStartDate" type="text" name="startDate" [(ngModel)]="projectCopy.startDate" #startDate="ngModel"
                           (focus)="pickerStartDate.open()" required/>
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(startDate)">field required</span>
                  </div>
                </div>
                <div class="form-group" >
                  <label>Status</label>
                  <select class="form-control" [(ngModel)]="projectCopy.status" name="status">
                    <option value="In Progress">In Progress</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Completed">Completed</option>
                    <option value="Archived">Archived</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Project Manager</label>
                  <select class="form-control" [(ngModel)]="projectCopy.manager" name="manager">
                    <option *ngFor="let manager of managers" value="{{manager.id}}">{{ manager.fullName }}</option>
                  </select>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(code) }">
                  <label>Project Code</label>
                  <input class="form-control" type="text" required [(ngModel)]="projectCopy.code" name="code" #code="ngModel"/>
                  <div class="message">
                    <span *ngIf="isEmpty(code)">field required</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group currency-form" [ngClass]="{'to-verify': isNotValid(poValue) }">
                  <label>PO Value</label>
                  <input class="form-control" type="number" step="0.01" required [(ngModel)]="projectCopy.poValue" maxlength="20" name="poValue" #poValue="ngModel" />
                  <div class="message">
                    <span *ngIf="isEmpty(poValue)">field required & must be a valid number</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'to-verify': isNotValid(endDate) }">
                  <label>End Date</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerEndDate" required type="text" name="endDate"
                           [(ngModel)]="projectCopy.endDate" (focus)="pickerEndDate.open()" #endDate="ngModel" />
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                  </mat-form-field>
                  <div class="message">
                    <span *ngIf="isEmpty(endDate)">field required</span>
                  </div>
                </div>
                <div class="form-group currency-form">
                  <label>Expenses</label>
                  <input class="form-control" type="number" step="0.01" [(ngModel)]="projectCopy.expenses" name="expenses"  />
                </div>
                <div class="form-group">
                  <label>E-Link</label>
                  <input class="form-control" type="text" [(ngModel)]="projectCopy.link" name="link" />
                  <div class="message">field required</div>

                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" value="{{ title ? title : 'Add Project' }}"
                         (click)="saveProject()" [disabled]="loginForm.form.invalid" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
