<!-- Modal -->
<div class="modal fade custom-popup edit-project" id="newProject" tabindex="-1" role="dialog" aria-labelledby="newProject"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal" (click)="restoreModal()" />
          <div class="row">
            <div class="col-12">
              <h3 class="title">{{ title ? title : 'Add Project' }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Project Name</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.name" />
              </div>
              <div class="form-group">
                <label>Start Date</label>
                <mat-form-field>
                  <input  matInput [matDatepicker]="pickerStartDate" type="text" [(ngModel)]="projectCopy.startDate" (focus)="pickerStartDate.open()"/>
                  <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStartDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label>Status</label>
                <select class="form-control" [(ngModel)]="projectCopy.status">
                  <option value="In Progress">In Progress</option>
                  <option value="On Hold">On Hold</option>
                  <option value="Completed">Completed</option>
                  <option value="Archived">Archived</option>
                </select>
              </div>
              <div class="form-group">
                <label>Project Manager</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.manager" />
              </div>
              <div class="form-group">
                <label>Project Code</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.code" />
              </div>
            </div>
            <div class="col-lg-6 col-12 col-md-12 col-sm-12">
              <div class="form-group currency-form">
                <label>PO Value</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.poValue" maxlength="20" />
              </div>
              <div class="form-group">
                <label>End Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="pickerEndDate" type="text" pattern="\d{1,2}/\d{1,2}/\d{4}" [(ngModel)]="projectCopy.endDate" (focus)="pickerEndDate.open()" />
                  <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEndDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group currency-form">
                <label>Expenses</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.expenses" />
              </div>
              <div class="form-group">
                <label>E-Link</label>
                <input class="form-control" type="text" [(ngModel)]="projectCopy.link" />
              </div>
              <div class="submit">
                <input class="btn btn-success" type="submit" value="{{ title ? title : 'Add Project' }}" (click)="saveProject()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->
