/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #e4ebf7;
}

.hidden {
  display: none!important;
}

.direction-rtl {
  direction: rtl;
}

span.required {
  color: #ff2b2b;
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.normal-hidden {
  display: none;
}

.container.no-events {
  padding-top: 25px;
}

.no-events .title {
  display: none;
}

.aw-container {
  position: relative;
  background: white;
  height: auto;
  padding: 35px 20px 15px 20px;
  border-radius: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.bg-default {
  background: #1b2133;
  color: white;
}

.submit {
  margin-top: 50px;
}

.submit input[type="submit"] {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

button.add-new {
  height: 35px;
  color: white;
  background: #57C059;
  outline: none;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.white-bg {
  background: white;
}

tr.white-bg {
  cursor: pointer;
}

.text-red {
  color: red !important;
}

select.action {
  height: 35px;
  float: left;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-workflow {
  padding: 0 60px 35px 60px;
  width: 100%;
}

.header-workflow .title {
  display: inline-block;
  width: calc(20% - 5px);
  font-size: 18px;
  font-weight: 700;
  color: white;
  background: #1B2133;
  margin-left: 5px;
  height: 50px;
  padding-top: 12px;
  padding-left: 10px;
  cursor: pointer;
}

.wf-elements.public-workflow span.title {
  width: calc(50% - 5px);
}

.wf-elements.public-workflow.order-workflow span.title {
  width: calc(33% - 5px);
}

/* scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

/* end of scroll bar style */

/* listing style */
.listing table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.listing td {
  padding: 13px 5px 13px 5px;
  font-size: 13px;
}

.listing th {
  padding-bottom: 5px;
}

.listing-icon {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: 15px;
  background: #F45B63;
  border-radius: 2px;
  box-shadow: 3px 3px 6px black;
}

.listing-icon img {
  width: 25px;
  margin-top: 12px;
}

.listing .filter {
  width: 18px;
  cursor: pointer;
}

.listing .control img {
  width: 25px;
  cursor: pointer;
  margin-left: 4px;
}

tr.list-element:hover {
  background: #e4ebf7;
  cursor: pointer;
}

.listing-details table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.listing-details td {
  padding: 7px 5px 7px 5px;
}

.aw-pagination {
  text-align: right;
  margin-top: 25px;
}

.aw-pagination .circle-sign {
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  margin-left: 3px;
  cursor: pointer;
}

.aw-pagination .circle-sign:hover {
  background: white;
}

tr.white-bg:hover {
  background: #a4c780;
}

/* end of listing style */

/* project details */
.details .header {
  position: absolute;
  right: 5px;
  top: 5px;
}

.details .delete-icon, .details .return-icon {
  width: 35px;
  cursor: pointer;
}

.details .return-icon {
  height: 27px;
  width: 35px;
}

.details input[type="text"] {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.edit-project input[type="text"], .edit-project input[type="number"] {
  font-weight: 700;
  text-align: center;
  color: black;
}

.details input[type="text"]:disabled {
  background: #fff;
}

.currency-form {
  position: relative;
}

.currency-form input {
  text-align: center;
}

.currency-form:before {
  content: '$';
  display: block;
  position: absolute;
  width: 50px;
  height: calc(1.5em + .75rem + 2px);
  background: #e4ebf7;
  top: 32px;
  border: 1px solid #ced4da;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
}


/* end of project details */
.custom-select {
  width: auto;
}


.custom-popup .modal-dialog {
  max-width: 700px !important;
}

.custom-popup .modal-content {
  border-radius: 10px;
}

.custom-popup h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

/*  angular material style start */

.cdk-overlay-container {
  z-index: 9999999;
}

.cdk-overlay-pane {
  z-index: 999999 !important;
}

.mat-form-field {
  display: block !important;
}

.mat-form-field-wrapper {
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  height: calc(1.5em + .75rem + 2px) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  padding: .375rem .75rem !important;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0;
}

/*  angular material style end */

@media screen and (max-width: 991px) {

  .login-form {
    margin: auto!important;
    height: auto!important;
  }
  .login-form .text  {
    display: none;
  }

  .login-form .logo {
    padding: 0!important;
  }

  .logo-block {
    padding: 45px 25px !important;
  }
  .__form-check span {
    font-size: 10px;
    font-weight: 600;
    padding-top: 2px;
  }

  .__form-group {
    padding: 25px !important;
  }
  .__form-group .form-control {
    padding: 18px!important;
    font-size: 12px!important;
  }

  .nav-opened .main-panel {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }

  .nav-opened .side-bar {
    width: 280px !important;
  }

  .nav-opened .wrapper {
    overflow: hidden;
  }

  .nav-opened .side-bar-toggle img {
    visibility: hidden !important;
  }

  .close-layer {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    top: 0;
    left: auto;
    background: rgba(0, 0, 0, .35);
    content: "";
    z-index: 99;
    overflow-x: hidden;
    transition: all 370ms ease-in;
  }

  .close-layer img {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 290px;
    cursor: pointer;
    background: white;
    padding: 5px;
    border-radius: 50%;
  }

}

/* edit element */
.close-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 18px;
  right: 18px;
  cursor: pointer;
  z-index: 999;
}

::ng-deep .mat-input-underline {
  display: none;
}

.form-group {
  position: relative;
}

.to-verify .message {
  display: block !important;
  width: 100%;
  position: absolute;
  bottom: -16px;
  font-size: 11px;
  font-style: italic;
  text-align: right;
  color: red;
}

.form-group .message {
  display: none;
}

.to-verify input {
  border-color: red;
}

.to-verify.currency-form:before {
  border-right-color: red;
}

.to-verify div.mat-form-field-wrapper {
  border-color: red !important;
}


.ngx-pagination.ng-star-inserted {
  float: right !important;
}

.no-results {
  text-align: center;
  font-weight: 600;
}

.no-results img {
  width: 25px;
}

.text-arabic {
  text-align: right !important;
  background-position: right !important;
  direction: rtl !important;
}

.no-attached {
  padding: 7px;
  margin-top: 15px;
  text-align: center;
}

/* notes */
.notes-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.note {
  position: relative;
  height: 255px;
  min-width: 240px;
  background: white;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin: 5px 5px 15px 5px;
}

.note .pin-icon {
  position: absolute;
  width: 30px;
  top: -10px;
  right: 12px;
}

.note .date {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  font-style: italic;
  text-align: left !important;
}

.note .text {
  width: 100%;
  height: 135px;
  overflow: auto;
  font-weight: 600;
  border: none;
  resize: none;
}

.note .text[readonly="readonly"] {
  outline: none;
  cursor: default;
}

.note h5 {
  color: #89d38b;
  margin-top: 12px;
}

.note .remove-icon:hover {
  opacity: 1;
}

.note .remove-icon, .note .save-icon {
  width: 30px;
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
}

.note .remove-icon {
  opacity: 0.3;
  display: none;
}

.note .save-icon {
  bottom: 7px;
  right: 12px;
  display: none;
}

.save-icon.visible, .remove-icon.visible {
  display: initial !important;
}

.blinker {
  animation: blinker 1s linear infinite;
}


.col-4 {
  padding: 0;
}


.custom-select {
  margin-left: 5px;
}

/* emd notes style */

.__styled-checkbox {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.__styled-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.__styled-checkbox .check-mark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 22px;
  width: 22px;
  background: white;
  border: 1px solid #0d1119;
}

.__styled-checkbox input:checked ~ .check-mark {
  background-color: #0d1119;
}

.__styled-checkbox .check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.__styled-checkbox input:checked ~ .check-mark:after {
  display: block;
}

.__styled-checkbox .check-mark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea {
  resize: none;
}

.remaining {
  float: right;
  text-align: center;
}

.remaining h3 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.remaining .value {
  background: white;
  font-weight: 700;
  padding: 7px 5px 7px 5px;
  font-size: 18px;
  color: #82af53;
}


.select-item {
  display: flex;
}
.select-item .__styled-checkbox .check-mark {
  top: 0;
}


@media screen and (max-width: 768px) {
  .aw-container {
    border-radius: 0;
  }

  .listing .control img {
    width: 22px;
  }

  .listing td:nth-child(2),
  .listing th:nth-child(2) {
    display: none;
  }

  .main-content span.title {
    font-size: 18px;
  }

  .main-content .add-icon {
    width: 30px !important;
    top: -15px !important;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 570px) {
  .sm-center {
    text-align: center;
  }
}

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
