/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #e4ebf7;
}

.hidden {
  display: none;
}
.aw-container {
  position: relative;
  background: white;
  height: auto;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.submit {
  margin-top: 50px;
}

.submit input[type="submit"] {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

button.add-new {
  height: 35px;
  color: white;
  background: #57C059;
  outline: none;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.white-bg {
  background: white;
}

select.action {
  height: 35px;
  float: left;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-workflow {
  padding: 0 60px 15px 60px;
  width: 100%;
}

.header-workflow .title {
  display: inline-block;
  width: calc(20% - 5px);
  font-size: 18px;
  font-weight: 700;
  color: white;
  background: #1B2133;
  margin-left: 5px;
  height: 50px;
  padding-top: 12px;
  padding-left: 10px;
  cursor: pointer;
}

/* scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

/* end of scroll bar style */

/* listing style */
.listing table {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.listing td {
  padding: 15px 5px 15px 5px;
  font-size: 15px;
}

.listing th {
  padding-bottom: 5px;
}

.listing-icon {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: 15px;
  background: #F45B63;
  border-radius: 2px;
  box-shadow: 3px 3px 6px black;
}

.listing-icon img {
  width: 25px;
  margin-top: 12px;
}

.listing .filter {
  width: 18px;
  cursor: pointer;
}

.listing .control img {
  width: 25px;
  cursor: pointer;
  margin-left: 4px;
}

tr.list-element:hover {
  background: #e4ebf7;
  cursor: pointer;
}

.listing-details table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-details td {
  padding: 7px 5px 7px 5px;
}

.aw-pagination {
  text-align: right;
  margin-top: 25px;
}

.aw-pagination .circle-sign {
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  margin-left: 3px;
  cursor: pointer;
}

.aw-pagination .circle-sign:hover {
  background: white;
}

tr.white-bg:hover {
  background: #a4c780;
}

/* end of listing style */

/* project details */
.details .header {
  position: absolute;
  right: 5px;
  top: 5px;
}

.details .delete-icon, .details .return-icon {
  width: 35px;
  cursor: pointer;
}

.details .return-icon {
  height: 27px;
  width: 35px;
}

.details input[type="text"] {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.edit-project input[type="text"] {
  font-weight: 700;
  text-align: center;
  color: black;
}

.details input[type="text"]:disabled {
  background: #fff;
}

.currency-form {
  position: relative;
}

.currency-form:before {
  content: '$';
  display: block;
  position: absolute;
  width: 50px;
  height: calc(1.5em + .75rem + 2px);
  background: #e4ebf7;
  top: 32px;
  border: 1px solid #ced4da;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
}


/* end of project details */
.custom-select {
  width: auto;
}


.custom-popup .modal-dialog {
  max-width: 700px !important;
}

.custom-popup .modal-content {
  border-radius: 10px;
}

.custom-popup h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

/*  angular material style start */

.cdk-overlay-container {
  z-index: 9999999;
}

.cdk-overlay-pane {
  z-index: 999999 !important;
}

.mat-form-field {
  display: block !important;
}

.mat-form-field-wrapper {
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  height: calc(1.5em + .75rem + 2px) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  padding: .375rem .75rem !important;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0;
}

/*  angular material style end */

@media screen and (max-width: 768px) {
  .aw-container {
    border-radius: 0;
  }

  .nav-opened .main-panel {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }

  .nav-opened .side-bar {
    width: 280px !important;
  }

  .nav-opened .wrapper {
    overflow-x: hidden;
  }

  .nav-opened .side-bar-toggle img {
    visibility: hidden !important;
  }

  .close-layer {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    top: 0;
    left: auto;
    background: rgba(0, 0, 0, .35);
    content: "";
    z-index: 99;
    overflow-x: hidden;
    transition: all 370ms ease-in;
  }

  .close-layer img {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 290px;
    cursor: pointer;
    background: white;
    padding: 5px;
    border-radius: 50%;
  }
}


/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
