<app-details-title [canAdd]="true" [title]="'Notes'"></app-details-title>
<div class="listing">
  <select class="custom-select">
    <option>LAST UPDATE</option>
    <option>A-z</option>
  </select>

  <div class="notes-list">
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
    <div class="note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's
        </div>
      </div>
      <img class="vertical-ellipsis" src="/assets/images/listing/vertical-ellipsis.svg" alt=""/>
    </div>
  </div>
</div>

