<app-details-title [canAdd]="true" [title]="'Notes'"></app-details-title>
<div class="listing">
  <select class="custom-select">
    <option>LAST UPDATE</option>
    <option>A-z</option>
  </select>

  <div class="notes-list">
    <div class="note new-note">
      <img class="pin-icon" src="/assets/images/listing/push-pin.svg" alt=""/>
      <div class="date">JAN-12-2019</div>
      <div class="content">
        <h5>OWNER</h5>
        <textarea class="text" placeholder="Write your note here..." [(ngModel)]="newNoteText"></textarea>
      </div>
      <img class="remove-icon save-icon" src="/assets/images/general/save.svg" alt=""/>
    </div>
  </div>
</div>
