<div class="modal fade custom-popup edit-project" id="newUser" tabindex="-1" role="dialog"
     aria-labelledby="newUser"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-project container">
          <form #loginForm="ngForm">
            <img src="/assets/images/general/cross.svg" alt="" class="close-icon" data-dismiss="modal"
                 (click)="restoreModal()"/>
            <div class="row">
              <div class="col-12">
                <h3 class="title">{{ title ? title : 'Add User' }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(name) }">
                  <label>Full Name</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="userCopy.name" #name="ngModel" name="name"/>
                  <div class="message">
                    <span *ngIf="isEmpty(name)">field required</span>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(username) }">
                  <label>Username</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="userCopy.username" #username="ngModel" name="username"/>
                  <div class="message">
                    <span *ngIf="isEmpty(username)">field required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Roles</label>
                  <table style="width: 100%;text-align: center;">
                    <tr>
                      <th>SA</th>
                      <th>CEO</th>
                      <th>SM</th>
                      <th>AM</th>
                      <th>PM</th>
                    </tr>
                    <tr>
                      <td>
                        <label class="__styled-checkbox">
                          <input type="checkbox" [(ngModel)]="roles.SA" name="sa">
                          <span class="check-mark"></span>
                        </label>
                      </td>
                      <td>
                        <label class="__styled-checkbox">
                          <input type="checkbox" [(ngModel)]="roles.CEO" name="ceo">
                          <span class="check-mark"></span>
                        </label>
                      </td>
                      <td>
                        <label class="__styled-checkbox">
                          <input type="checkbox" [(ngModel)]="roles.SM" name="sm">
                          <span class="check-mark"></span>
                        </label>
                      </td>
                      <td>
                        <label class="__styled-checkbox">
                          <input type="checkbox" [(ngModel)]="roles.AC" name="ac">
                          <span class="check-mark"></span>
                        </label>
                      </td>
                      <td>
                        <label class="__styled-checkbox">
                          <input type="checkbox" [(ngModel)]="roles.PM" name="pm">
                          <span class="check-mark"></span>
                        </label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(email) }">
                  <label>Email</label>
                  <input class="form-control" required type="text"
                         [(ngModel)]="userCopy.email" #email="ngModel" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                  <div class="message">
                    <span *ngIf="isEmpty(email)">field required</span>
                    <span *ngIf="isNotValidEmail(email)">please provide a vlid email</span>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'to-verify': isNotValid(_password) }">
                  <label>Password</label>
                  <input class="form-control" [required]="title !== 'Edit User'" type="password"
                         [(ngModel)]="password" #_password="ngModel" name="password" minlength="8"/>
                  <div class="message">
                    <span *ngIf="isEmpty(_password)">field required</span>
                    <span *ngIf="isNotValidPassword(_password)">password length must be at least 8 chars </span>
                  </div>
                </div>
                <div class="submit">
                  <input class="btn btn-success" type="submit" style="margin-top: 15px;" value="{{ title ? title : 'Add User' }}"
                         (click)="saveUser()" [disabled]="loginForm.form.invalid || (title == 'Edit User' && !loginForm.dirty)"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
