.custom-select {
  width: 125px;
  font-size: 15px;
  font-weight: 700;
}

.aw-pagination {
  margin-top: 0;
  float: right;
}
.boq-summer {
  margin-top: 15px;
}
.boq-summer td, .boq-summer th {
  padding: 7px 5px 7px 5px;
}
@media screen and (max-width: 768px) {
  .listing-details th:nth-child(3),
  .listing-details th:nth-child(4),
  .listing-details th:nth-child(6),
  .listing-details th:nth-child(9),
  .listing-details th:nth-child(10),
  .listing-details td:nth-child(3),
  .listing-details td:nth-child(4),
  .listing-details td:nth-child(6),
  .listing-details td:nth-child(9),
  .listing-details td:nth-child(10)
  {
    display: none;
  }
}
