<app-details-title [canAdd]="false" [title]="'Deliverables'"></app-details-title>
<div class="listing listing-details">
  <div class="aw-pagination" *ngIf="false">
  </div>
  <table class="table-striped">
    <tr>
      <th>Part NO</th>
      <th>Description</th>
      <th>Qty</th>
      <th>U Cost</th>
      <th>T Cost</th>
      <th>Delivered Date</th>
    </tr>
    <tbody>
    <tr class="white-bg" *ngFor="let delivered of deliverables">
      <td>{{ delivered.partCode }}</td>
      <td>{{ delivered.description }}</td>
      <td>{{ delivered.quantity }}</td>
      <td>{{ delivered.rate | number }}</td>
      <td>{{ (delivered.rate * delivered.quantity) | number }}</td>
      <td>{{ delivered.receivedDate }}</td>
    </tr>
    </tbody>
  </table>
</div>
